<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Soohoo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main-page">
        <div class="sidenav">
            <div class="logo"><a href="availability.html">Job Admin</a></div>
            <button class="toggle-nv">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav tabs-left">
                <!--			<li><a href="job.html">Jobs</a></li>-->
                <li><a href="availability.html">Availability</a></li>
                <li class="active"><a href="appontments.html">Appointments</a></li>
                <li><a href="dispatch.html">Dispatch</a></li>
                <li><a href="past-dues.html">Past Dues</a></li>
            </ul>
        </div>
        <div class="main_cont">
            <div class="header">
                <div class="profile-side">
                    <ul>
                        <li><i class="flaticon-notification"></i><span>5</span></li>
                        <li class="profile-pic">
                            <div>John</div>
                            <figure> <img src="images/profile-pic.jpg"> </figure>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="body_cont">
                <div class="body-part">
                    <h1>Appointments</h1>
                    <div class="tabs">
                        <ul class="nav nav-tabs fivetab">
                            <li class="active"><a data-toggle="tab" href="#all">All</a></li>
                            <li><a data-toggle="tab" href="#recently-booked">DELAYED</a></li>
                            <li><a data-toggle="tab" href="#current">Needs Appointment </a></li>
                            <li><a data-toggle="tab" href="#upcoming">Scheduled </a></li>
                            <!--
            <li><a data-toggle="tab" href="#recently-booked">DELAYED</a></li>
            <li><a data-toggle="tab" href="#delayed">Delayed</a></li>
-->
                        </ul>
                        <div class="tab-content">
                            <div id="all" class="tab-pane fade in active">
                                <div class="table-style">
                                    <table id="all-appointment" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Broker’s Reference Number </th>
                                                <th>ETA</th>
                                                <th>Terminal,<p>Phone No</p></th>
                                                <th>Container</th>
                                                <th>Client</th>
                                                <th>Pick UP</th>
                                                <th>Destination </th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>16</td>
                                                <td>875242901</td>
                                                <td>5/3/2020</td>
                                                <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>EGAR9876357</td>
                                                <td>Nick</td>
                                                <td>Amsterdam</td>
                                                <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>765242901</td>
                                                <td>5/3/2020</td>
                                                   <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>John</td>
                                                <td>IJmuiden</td>
                                                   <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                  </div><span style="color: #117d1a">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>455242901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Nick1</td>
                                                <td>Amsterdam</td>
                                                <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                  </div><span style="color: #117d1a">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>565242901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Alex</td>
                                                <td>Amsterdam</td>
                                                 <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>655242901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Libby</td>
                                                <td>IJmuiden</td>
                                                   <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>365242901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Nick5</td>
                                                <td>Amsterdam</td>
                                                 <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>465242901</td>
                                                <td>5/3/2020</td>
                                                    <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Nick</td>
                                                <td>Amsterdam</td>
                                                  <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>09</td>
                                                <td>765242901</td>
                                                <td>5/3/2020</td>
                                                   <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Libby2</td>
                                                <td>Amsterdam</td>
                                                  <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>08</td>
                                                <td>665242901</td>
                                                <td>5/3/2020</td>
                                                    <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Alex5</td>
                                                <td>Amsterdam</td>
                                                   <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>07</td>
                                                <td>565642901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Nick</td>
                                                <td>IJmuiden</td>
                                                  <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>06</td>
                                                <td>545242901</td>
                                                <td>5/3/2020</td>
                                                   <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Libby3</td>
                                                <td>Amsterdam</td>
                                               <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>05</td>
                                                <td>565245901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Alex3</td>
                                                <td>Amsterdam</td>
                                                  <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>04</td>
                                                <td>565642901</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Nick</td>
                                                <td>Amsterdam</td>
                                                 <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>03</td>
                                                <td>565242601</td>
                                                <td>5/3/2020</td>
                                                     <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>John2</td>
                                                <td>Amsterdam</td>
                                                 <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>565242701</td>
                                                <td>5/3/2020</td>
                                                    <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>Alex2</td>
                                                <td>IJmuiden</td>
                                                  <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>565242801</td>
                                                <td>5/3/2020</td>
                                                 <td>Amsterdam
                                                <p>9673856333</p></td>
                                                <td>565242901</td>
                                                <td>John3</td>
                                                <td>Amsterdam</td>
                                                   <td><span class="popup "><div class="popup-content"><p><small>1</small> IJmuiden</p>
                                                    <p><small>2</small>Amsterdam</p></div><span style="color: #e9a022">IJmuiden</span></span> </td>
                                                  <td><span class="width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="current" class="tab-pane fade">
                                <div class="table-style">
                                    <table id="current-appointment" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Container</th>
                                                <th>Assigned To</th>
                                                <th>Pick UP</th>
                                                <th>Drop</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SR1</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick</td>
                                                <td>ABC</td>
                                                <td>ABC</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR2</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick1</td>
                                                <td>BCD</td>
                                                <td>BCD</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR3</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick2</td>
                                                <td>CDE</td>
                                                <td>CDE</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR4</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick3</td>
                                                <td>DEF</td>
                                                <td>DEF</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR5</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick4</td>
                                                <td>EFG</td>
                                                <td>EFG</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR6</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick5</td>
                                                <td>FGH</td>
                                                <td>FGH</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR7</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick6</td>
                                                <td>GHI</td>
                                                <td>GHI</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR8</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick7</td>
                                                <td>HIJ</td>
                                                <td>HIJ</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick8</td>
                                                <td>IJK</td>
                                                <td>IJK</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick9</td>
                                                <td>JKL</td>
                                                <td>JKL</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR10</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick10</td>
                                                <td>KLM</td>
                                                <td>KLM</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR11</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick11</td>
                                                <td>LMN</td>
                                                <td>LMN</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR12</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick12</td>
                                                <td>MNO</td>
                                                <td>MNO</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR13</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick13</td>
                                                <td>NOP</td>
                                                <td>NOP</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR14</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick14</td>
                                                <td>OPQ</td>
                                                <td>OPQ</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR15</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick15</td>
                                                <td>PQR</td>
                                                <td>PQR</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="upcoming" class="tab-pane fade">
                                <div class="table-style">
                                    <table id="upcoming-appointment" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Container</th>
                                                <th>Assigned To</th>
                                                <th>Pick UP</th>
                                                <th>Drop</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SR1</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick</td>
                                                <td>ABC</td>
                                                <td>ABC</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR2</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick1</td>
                                                <td>BCD</td>
                                                <td>BCD</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR4</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick3</td>
                                                <td>DEF</td>
                                                <td>DEF</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR5</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick4</td>
                                                <td>EFG</td>
                                                <td>EFG</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR7</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick6</td>
                                                <td>GHI</td>
                                                <td>GHI</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick8</td>
                                                <td>IJK</td>
                                                <td>IJK</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick9</td>
                                                <td>JKL</td>
                                                <td>JKL</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR11</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick11</td>
                                                <td>LMN</td>
                                                <td>LMN</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR12</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick12</td>
                                                <td>MNO</td>
                                                <td>MNO</td>
                                                <td><span class="status orange"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR13</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick13</td>
                                                <td>NOP</td>
                                                <td>NOP</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR14</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick14</td>
                                                <td>OPQ</td>
                                                <td>OPQ</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR15</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick15</td>
                                                <td>PQR</td>
                                                <td>PQR</td>
                                                <td><span class="status green"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="recently-booked" class="tab-pane fade">
                                <div class="table-style">
                                    <table id="recent-appointment" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Container</th>
                                                <th>Assigned To</th>
                                                <th>Pick UP</th>
                                                <th>Drop</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SR1</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick</td>
                                                <td>ABC</td>
                                                <td>ABC</td>
                                            </tr>
                                            <tr>
                                                <td>SR2</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick1</td>
                                                <td>BCD</td>
                                                <td>BCD</td>
                                            </tr>
                                            <tr>
                                                <td>SR3</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick2</td>
                                                <td>CDE</td>
                                                <td>CDE</td>
                                            </tr>
                                            <tr>
                                                <td>SR4</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick3</td>
                                                <td>DEF</td>
                                                <td>DEF</td>
                                            </tr>
                                            <tr>
                                                <td>SR5</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick4</td>
                                                <td>EFG</td>
                                                <td>EFG</td>
                                            </tr>
                                            <tr>
                                                <td>SR6</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick5</td>
                                                <td>FGH</td>
                                                <td>FGH</td>
                                            </tr>
                                            <tr>
                                                <td>SR7</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick6</td>
                                                <td>GHI</td>
                                                <td>GHI</td>
                                            </tr>
                                            <tr>
                                                <td>SR8</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick7</td>
                                                <td>HIJ</td>
                                                <td>HIJ</td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick8</td>
                                                <td>IJK</td>
                                                <td>IJK</td>
                                            </tr>
                                            <tr>
                                                <td>SR9</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick9</td>
                                                <td>JKL</td>
                                                <td>JKL</td>
                                            </tr>
                                            <tr>
                                                <td>SR10</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick10</td>
                                                <td>KLM</td>
                                                <td>KLM</td>
                                            </tr>
                                            <tr>
                                                <td>SR11</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick11</td>
                                                <td>LMN</td>
                                                <td>LMN</td>
                                            </tr>
                                            <tr>
                                                <td>SR12</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick12</td>
                                                <td>MNO</td>
                                                <td>MNO</td>
                                            </tr>
                                            <tr>
                                                <td>SR13</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick13</td>
                                                <td>NOP</td>
                                                <td>NOP</td>
                                            </tr>
                                            <tr>
                                                <td>SR14</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick14</td>
                                                <td>OPQ</td>
                                                <td>OPQ</td>
                                            </tr>
                                            <tr>
                                                <td>SR15</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick15</td>
                                                <td>PQR</td>
                                                <td>PQR</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="delayed" class="tab-pane fade">
                                <div class="table-style">
                                    <table id="delayed-appointment" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Container</th>
                                                <th>Assigned To</th>
                                                <th>Pick UP</th>
                                                <th>Drop</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SR3</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick2</td>
                                                <td>CDE</td>
                                                <td>CDE</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR6</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick5</td>
                                                <td>FGH</td>
                                                <td>FGH</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR8</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick7</td>
                                                <td>HIJ</td>
                                                <td>HIJ</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                            <tr>
                                                <td>SR10</td>
                                                <td>5/3/2020</td>
                                                <td>12:30</td>
                                                <td>harbour</td>
                                                <td>XXX</td>
                                                <td>Nick10</td>
                                                <td>KLM</td>
                                                <td>KLM</td>
                                                <td><span class="status red"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap.min.js"></script>
    <script type='text/javascript' src="js/bootstrap-slider.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</body>

</html>
